<!-- 热门评论展示模板 -->
<script id="cmntListTempl" type="text/x-dot-template">
  <div class="swiper-slide">
  <<~it:item:index>>
    <<? index != 0 && (index % 2 == 0)>>
      </div>
       <div class="swiper-slide">
    <<? >>
  <div class="cmnt-li">
    <figure class="cmnt-imgbox" style="background: url(<<=item.face >>) center center no-repeat;background-size: .6rem .6rem;">
    </figure>
    <aside class="cmnt-con">
      <div class="cmnt-base-info">
        <div>
          <span class="cmnt-name"><<=item.nick >></span>
          <time class="cmnt-time"><<=item.area >>&nbsp;<<=youYi.agreeTimeFormat(item.time) >></time>
        </div>
        <div class="agree-box">
          <a href="javascript:void(0)" class="cmnt-praise" onclick="window.agreeAction(this,'<<=item.channel >>','<<=item.newsid >>','<<=item.mid >>')">
            <i class="cmnt-ico_praise"></i>
            <span class="agreeCount"><<=youYi.agreeDataFormat(item.agree) || 0 >></span>
          </a>
          <a href="javascript:void(0)" class="cmnt-praise margin-left-w10"
             node-type="callApp" doc-url="currentPage">
            <i class="cmnt-ico_msg"></i>
          </a>
        </div>
      </div>
      <div class="cmnt-info <<= ((index+1) % 2 == 0) || (index+1) == it.length ? 'noBorder':''>>">
        <p><<=item.content >></p>
      </div>
    </aside>
  </div>
  <<~>>
  </div>
</script>