<!-- 推荐列表展示模板 -->
<script id="recommendedListTempl" type="text/x-dot-template">
  <<~it.data:item:index>>
  <li class="video2-li" doc-id="<<=item.docid>>"
      node-type="<<=((window.PAGEDATA.page == 0 || !window.PAGEDATA.page) && index < 5) ? 'callApp' : 'jump2page'>>"
      doc-url="<<=item.url>>"
      mid-url="<<=item.surl>>">
    <a class="video2-link" href="javascript:void(0)" node-type="newsList" data-news="<<=item.docid>>">
      <aside class="video2-con">
      	<p class="video2-name"><<=item.title>></p>
        <div class="video2-info">
         	<div class="left">
            <<? ((window.PAGEDATA.page == 0 || !window.PAGEDATA.page) && index < 5) >>
               <span class="call-app-mark">打开新浪体育</span>
               <<??>>
               <span class="media-mark"><<=item.media || '新浪体育'>></span>
            <<?>>
          </div>
          <div class="right">
            <<? item.comment_count && item.comment_count != 0>>
              <span class="cmt-num"><<=youYi.agreeDataFormat(item.comment_count) || 0 >>评</span>
            <<?>>
            <<? item.type == 2>><span class="picture-mark">图集</span><<?>>
            <<? item.type == 3>><span class="video-mark">视频</span><<?>>
          </div>
        </div>
      </aside>
      <figure class="video2-imgbox">
        <img class="video2-img lazy" data-src="<<=item.thumb>>">
      </figure>
    </a>
  </li>
  <<~>>
</script>