body {
  max-width: 414px;
  min-width: 320px;
  font-size: 0.3rem;
  background: #f5f5f5;
  color: #333;
  margin: 0 auto !important;
}

div.moreRecommend, div.loadRecommend {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:visited {
  color: #333
}

html {
  -webkit-text-size-adjust: 100%
}

img {
  vertical-align: middle;
  border: 0
}

.margin-left-w15 {
  margin-left: 15px;
}

.margin-left-w10 {
  margin-left: 10px;
}

.video-top {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.video-top-box {
  width: 7.5rem;
  height: 4.22rem;
  position: relative;
  overflow: hidden
}

.video-top-play {
  width: 100%;
  height: 4.22rem
}

.page2native_btn, .cmnt-more {
  display: block;
  margin: 0.35rem auto 0 auto;
  width: 5.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: #fff;
  font-family: PingFangSC-Regular;
  font-size: 0.3rem;
  background-image: -webkit-linear-gradient(left, #FF3934 0%, #EE1D1A 49%, #DD0000 100%); /* Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(left, #FF3934 0%, #EE1D1A 49%, #DD0000 100%); /* Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(left, #FF3934 0%, #EE1D1A 49%, #DD0000 100%); /* Firefox 3.6 to 15 */
  background-image: linear-gradient(left, #FF3934 0%, #EE1D1A 49%, #DD0000 100%);
  border-radius: 0.4rem;
  cursor: pointer;
}
.cmnt-more-btn {
  margin: 0.05rem auto 0 auto;
}
.page2native_btn.more-video {
  margin: 0.15rem auto 0 auto;
}
.video-top_p {
  line-height: 0.42rem;
  color: #555;
  margin-top: 0.38rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.video-top_link {
  color: #4362df;
  display: block;
  text-align: right
}

.video-top_title {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 0.32rem;
  line-height: 0.67rem;
  border-top: 1px solid #e6e6e6;
}

.video-top_time {
  font-size: 0.28rem;
  color: #999
}

.video-top_txt {
  padding: 0 0.2rem
}

.video-top_info {
  position: relative
}

.video-top h3 {
  padding-left: 0.07rem
}

.video-top video {
  position: static !important
}

.flex,.cmnt-li,.cmnt-base-info,.video2-link,.video2-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.flex1,.cmnt-con,.video2-con {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.title,.cmnt-title,.video2-title {
  margin: 0.4rem 0.2rem .28rem 0.2rem;
  font-family: PingFang-SC-Heavy;
  font-size: 0.34rem;
  color: #1E1E1E;
  line-height: 0.34rem;
}

.cmnt,.video2 {
  position: relative;
  background: #fff;
  margin-top: .2rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}
section.video2 { /* 相关推荐模块 */
  padding-bottom: 0.1rem
}
.cmnt-ul {
  min-height: 0.5rem;
  max-height: 4.8rem;
}

.cmnt-li {
  margin: 0 0.2rem 0.2rem;
  padding: 0.2rem 0 0 0;
}

.cmnt-imgbox {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}

.cmnt-name {
  display: block;
  font-size: 0.24rem
}

.cmnt-con {
  margin-left: .2rem;
}

.cmnt-time {
  display: block;
  font-size: 0.2rem;
  color: #999;
  line-height: 0.3rem;
  margin-top: 0.02rem;
}
.cmnt-info {
  padding: .1rem 0 .3rem 0;
  border-bottom: 1px solid #ececec;
}
.cmnt-info.noBorder {
  border-bottom: 0 solid #fff;
}
.cmnt-info p{
  font-family: PingFangSC-Regular;
  font-size: 0.3rem;
  color: #1e1e1e;
  line-height: 0.48rem;
  height: 0.96rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


.cmnt-base-info {
  justify-content: space-between;
  padding-right: 5px;
}

.agree-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.cmnt-praise {
  white-space: nowrap;
  font-size: 0.24rem;
  color: #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cmnt-ico_praise {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.07rem;
  background: url(//n.sinaimg.cn/sports/imgStore/appSharePage/good.svg) no-repeat;
  background-size: contain;
}

.cmnt-ico_praise.active {
  background: url(//n.sinaimg.cn/sports/imgStore/appSharePage/good-active.svg) no-repeat;
}

.cmnt-ico_msg {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  margin-left: 0.07rem;
  background: url(//n.sinaimg.cn/sports/imgStore/appSharePage/msg.svg) no-repeat;
  background-size: contain;
}

.cmnt li:last-child,.video2 li:last-child {
  border-bottom: 0 none
}

.video2-more {
  display: block;
  width: 7rem;
  line-height: 0.9rem;
  background: #d00;
  border-radius: 0.1rem;
  margin: 0 auto;
  color: #fff;
  text-align: center
}

.cmnt-more:hover,.video2-more:hover {
  color: #fff
}

.cmnt-more:active,.video2-more:active {
  color: #fff
}

.cmnt-more:visited,.video2-more:visited {
  color: #fff
}

.video2-box {
  padding: 0 0.2rem 0.4rem;
  border-bottom: 1px solid #ececec
}

.video2-box2 {
  padding-bottom: 0;
  border-bottom: 0 none
}

.video2-txt {
  position: relative;
  padding-top: 0.3rem;
  color: #555;
  line-height: 0.42rem;
  padding-bottom: 0.3rem
}

.video2-player {
  display: block;
  width: 100%;
  margin-top: .2rem
}

.video2-player_imgbox {
  height: 4.22rem;
  position: relative;
  overflow: hidden
}

.video2-con {
  margin-right: .24rem
}

.video2-imgbox {
  position: relative;
  width: 2.3rem;
  height: 1.6rem;
  text-align: center;
  overflow: hidden;
}

.video2-img {
  width: 100%
}

.video2-li {
  border-bottom: 1px solid #ececec;
  margin: 0 0.2rem 0.28rem;
  padding: 0 0 0.28rem 0;
}

.video2-link {
  color: #1e1e1e
}

.video2-link :active {
  color: #999
}

.video2-name {
  font-family: PingFangSC-Regular;
  max-height: 0.96rem;
  font-size: 0.30rem;
  line-height: 0.48rem;
  height: 0.96rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.video2-ico_video {
  width: 0.34rem;
  height: 0.34rem;
  position: absolute;
  bottom: 0.1rem;
  left: 0.1rem;
  background: url(../images/ico-video.png);
  background-size: cover
}

.video2-info {
  font-family: PingFangSC-Light;
  justify-content: space-between;
  height: 0.28rem;
  margin-top: 0.36rem
}

.call-app-mark {
  display: inline-block;
  margin-right: 0.08rem;
  padding: 0.03rem 0.08rem;
  text-align: center;
  font-family: PingFangSC-Light;
  font-size: 0.2rem;
  color: #405D7F;
  border: 1px solid #405D7F;
  border-radius: 0.04rem;
}
.media-mark {
  display: inline-block;
  font-family: PingFangSC-Light;
  font-size: 0.24rem;
  color: #828282;
}

.cmt-num, .picture-mark, .video-mark {
  display: inline-block;
  font-family: PingFangSC-Light;
  font-size: 0.2rem;
  padding: 0.03rem 0.08rem;
  text-align: center;
}

.cmt-num {
  width: 0.9rem;
  margin-left: 0.07rem;
  color: #828282;
  background: url(//n.sinaimg.cn/sports/imgStore/appSharePage/cmt-bk.svg) no-repeat;
  background-size: 100% 100%;
}

.picture-mark,.video-mark {
  width: 0.64rem;
  margin-left: 0.07rem;
  color: #fff;
  background: url(//n.sinaimg.cn/sports/imgStore/appSharePage/img-sort-bk.svg) no-repeat;
  background-size: 100% 100%;
}

.video2-player_img {
  width: 100%;
  height: auto;
}

.video2-ico_video2 {
  width: 1.08rem;
  height: 1.08rem;
  background: url(../images/ico-video2.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.54rem 0 0 -0.54rem;
}

.s_card {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #ececec;
  background: #fff;
}

.btn-opp-app {
  width: 2rem;
  height: 0.7rem;
  background: #d00;
  color: #fff;
  font-size: 0.28rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  margin-left: -1rem;
  text-align: center;
  line-height: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2)
}

.btn-opp-app:hover {
  color: #fff
}

.btn-opp-app:active {
  color: #fff
}

.btn-opp-app:visited {
  color: #fff
}

.art_box {
  overflow: hidden;
  position: relative;
  text-align: center
}

.picture {
  overflow: hidden;
  position: relative;
}

.art_box img {
  margin: 0 auto
}

.btn-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  padding-top: 1.5rem;
  line-height: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  color: #d00;
  background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.8), #fff);
  transition: padding 1s;
  -moz-transition: padding 1s; /* Firefox 4 */
  -webkit-transition: padding 1s; /* Safari 和 Chrome */
  -o-transition: padding 1s; /* Opera */
}

.btn-detail img {
  position: relative;
  top: 0;
  width: 0.24rem;
  transition: top 0.5s;
  -moz-transition: top 0.5s; /* Firefox 4 */
  -webkit-transition: top 0.5s; /* Safari 和 Chrome */
  -o-transition: top 0.5s; /* Opera */
}

.picture {
  padding: 0rem 0.2rem 0
}

.picture-info {
  margin: 0 auto 0.2rem auto;
  width: 7.1rem;
  min-height: 0.6rem;
  position: relative;
  color: #fff;
  cursor: pointer
}

.picture-img {
  width: 100%;
  vertical-align: top
}
.picture-info .picture-img_tit {
  margin: 0 .3rem .2rem 0;
  font-size: .28rem;
  color: #888;
  line-height: .6rem;
}
.picture-num {
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  line-height: 0.2rem;
  padding: 0.05rem 0.1rem;
  font-size: 0.22rem;
  background: rgba(0,0,0,0.6);
  border-radius: 0.05rem
}

.picture-ico {
  width: 0.2rem;
  height: 0.2rem;
  background: url(../images/ico-picture.png);
  background-size: cover;
  margin-right: 0.1rem;
  display: inline-block;
  vertical-align: top
}

.picture-btn {
  position: absolute;
  left: 0.2rem;
  bottom: 0.14rem;
  width: 2rem;
  height: 0.46rem;
  text-indent: -999px;
  background: url(../images/btn-app2.png) no-repeat;
  background-size: cover;
  overflow: hidden
}

.picture-txt {
  font-size: 0.3rem;
  line-height: 0.42rem;
  color: #555;
  margin-top: 0.18rem;
  text-indent: 0.4rem;
  overflow: hidden
}

.art_tit_h1 {
  font-size: .48rem;
  color: #1a1a1a;
  line-height: .68rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  margin: 0px 0 .2rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.6rem .3rem 0;
  font-weight: bold;
  text-align: justify
}

.weibo_info.look_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0 .3rem;
  margin-bottom: .4rem
}

.weibo_img {
  width: .6rem;
  height: .6rem;
  position: relative;
  -webkit-background-size: .32rem .25rem;
  background-size: .32rem .25rem;
  margin-right: .24rem;
  border-radius: 50%
}

.weibo_detail {
  display: block;
  width: 100%;
}

.look_info .weibo_detail {
  position: relative;
}

.look_info .weibo_user, .look_info .weibo_time {
  float: left;
  font-family: PingFangSC-Regular;
  font-size: 0.24rem;
  color: #626262;
  letter-spacing: 0;
  line-height: 0.24rem;
  height: 0.24rem;
}

.look_info .weibo_time {
  margin-left: .1rem;
}

.video2-info .left,.video2-info .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* iphonex系列适配: css内容转移到base.min.css中，以免被cssmin给处理了
.bottom-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
  z-index: 999;
  height: 1.1rem;
  border-top: 1px solid #e6e6e6;
  background-color: #fff;
}
*/
.item-box {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 0 0.2rem;
}
.item-logo {
  flex: 0 0 1.2rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: left;
  align-items: center;
}
.item-logo .logo {
  width: 0.76rem;
  height: 0.76rem;
  background-image: url("//n.sinaimg.cn/sports/imgStore/download/logo.png");
  background-size: cover;
}
.iten-btn {
  flex: 0 0 1.2rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item-cont {
  flex: 1 1 1.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: PingFangSC-Regular;
  font-size: 0.26rem;
  color: #1E1E1E;
  line-height: 0.3rem;
  height: 0.96rem;
  padding: 0 0.32rem 0 0.12rem;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.open-app {
  display: inline-block;
  font-family: PingFangSC-Regular;
  width: 1rem;
  height: 0.48rem;
  font-size: 0.26rem;
  color: #fff;
  line-height: 0.48rem;
  background-image: -webkit-linear-gradient(left, #FF3934 0%, #EE1D1A 49%, #DD0000 100%); /* Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(left, #FF3934 0%, #EE1D1A 49%, #DD0000 100%); /* Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(left, #FF3934 0%, #EE1D1A 49%, #DD0000 100%); /* Firefox 3.6 to 15 */
  background-image: linear-gradient(left, #FF3934 0%, #EE1D1A 49%, #DD0000 100%);
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
}

.moreRecommend, .loadRecommend {
  font-family: PingFangSC-Regular;
  font-size: 0.26rem;
  color: #405D7F;
  text-align: center;
  line-height: 0.35rem;
  height: 0.5rem; /* 多出来的区域是避免被底部轮播给遮挡 */
  padding-bottom: 0.15rem;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadRecommend img {
  height: 0.35rem;
  margin: 0 0.08rem;
}

.swiper-container {
  padding-bottom: 0.35rem !important;
}
/* iphoneX底部填充区 */
.bottom-box2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  height: 1.1rem;
  background-color: #fff;
}