<script>
  // 底部轮播组件相关数据
  var PAGEDATA = PAGEDATA || {};
  PAGEDATA.bottomLinks = [{
    "title": "火箭找到下家接手安东尼！但得换回1472万的他",
    "url": "https://sports.sina.cn/nba/2019-01-11/detail-ihqfskcn6044746.d.html",
    "img": "http://n.sinaimg.cn/sports/transform/283/w650h433/20181126/8GuZ-hmhhnqt7108515.jpg"
  }, {
    "title": "3.5亿元！上港天价合同挖英超名将 组梦幻攻击线",
    "url": "https://sports.sina.cn/premierleague/liverpool/2019-01-11/detail-ihqhqcis5124589.d.html",
    "img": "http://n.sinaimg.cn/sports/transform/237/w621h416/20190111/_vLB-hrkkwei1118809.png"
  }, {
    "title": "全明星票选第二轮:詹皇继续票王 东契奇超库里",
    "url": "https://sports.sina.cn/nba/2019-01-11/detail-ihqhqcis5071600.d.html",
    "img": "http://n.sinaimg.cn/sports/transform/311/w650h461/20190111/E7ic-hrkkwei0379819.jpg"
  }];
</script>