<meta charset="UTF-8">
<meta name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width, viewport-fit=cover"/>
<meta name="format-detection" content="telephone=no"/>
<link rel="stylesheet" href="//ssfe.test.sina.com.cn/sports/webSystem/#projectName#/src/css/base.min.css?v=#version#">
<script src="//ssfe.test.sina.com.cn/sports/webSystem/#projectName#/src/scripts/app/flexible.js"></script>
<script>
  flexible.init({
    maxWidth: 414,
  });
</script>
<link rel="stylesheet" href="//ssfe.test.sina.com.cn/sports/webSystem/#projectName#/src/css/sharePage.css?v=#version#">
<link rel="stylesheet" href="//ssfe.test.sina.com.cn/sports/webSystem/#projectName#/src/css/swiper.css">
